/*
 * Globals
 */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

body {
  background: url('assets/AI-image1.gif') center/cover no-repeat fixed;
}


/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

/*
 * Header
 */

.banner-wrap {
  position: relative;
  height: 100vh;
  z-index: 1;
  overflow: hidden;
}
.overlay {
  z-index: -1;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 50%;
  position: absolute;
  top: 0;
}

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.scrolling {
  background: black;
  opacity: 80%;
  transition: all 0.5s;
}
